<%- include('partials/head.ejs') %>

<form action="/productos/<%= userId %>" method="POST">
	<input type="text" placeholder="titulo" name="titulo" 
	value="<%= editando ? editando.titulo :'' %>" required>

	<input type="number" placeholder="precio" name="precio" 
	value="<%= editando ? editando.precio : '' %>" required>

	<input type="text" placeholder="Url imagen" name="imagen" 
	value="<%= editando ? editando.imagen : '' %>" required>

	<input type="text" placeholder="Descripcion" name="descripcion" 
	value="<%= editando ? editando.descripcion : '' %>" required> 
	<input type="hidden" name="_id" value="<%= editando ? editando._id : '' %>">
	<div class="formularioCrearCuentaBoton">
		<button>send</button>
	</div>
</form>
</main>
<footer>
	<h2>Copyright © 2021 | Punto G Sexshop | Creado por Tortoza Cristian</h2>
</footer>
</body>