<%- include('partials/head.ejs') %>
<div class="contenedorAdmin">
	<form action="/productos/<%= usuarioId %>" method="POST">
		<input type="text" placeholder="Titulo" name="titulo" 
		value="<%= editando ? editando.titulo :'' %>" required>

		<input type="text" placeholder="Marca" name="marca" 
		value="<%= editando ? editando.marca :'' %>" required>

		<input type="number" placeholder="Precio" name="precio" 
		value="<%= editando ? editando.precio : '' %>" required>

		<input type="text" placeholder="Url imagen" name="imagen" 
		value="<%= editando ? editando.imagen : '' %>" required>
		<input type="hidden" name="id" value="<%= editando ? editando.id : '' %>">
		<div class="formularioCrearCuentaBoton">
			<button>Cargar</button>
		</div>
	</form>
</div>
</main>
</body>