<%- include('partials/head.ejs') %>
<div class="contenedorPrincipalMain" style="background-image: url(/assets/fondo.png); background-position: center; background-size: cover; background-repeat: no-repeat;">	
<div class="action">
	<% if (!loggedIn) { %>
		<div class="tituloLogear">
			<h2>Te Ayudamos A Disfrutar </h2>
			<h2><span>Más</span> De Tu Sexualidad</h2>
		</div>
	<a href="/crearCuenta"><button> Crear Cuenta</button></a>
	<% } else { %>
		<div>
			<h2>Compartinos Tu</h2>
			<h2><span>Juguete</span> Ideal</h2>
		</div>
	<a href="/admin"><button>Agregar Productos</button></a>
	<% } %>
</div>
</div>
<div class="contenedorProductos">
	<% if (producto.lenght === 0){ %>
		<h1>no hay productos</h1>
	<% }else{ %>
	<%	producto.forEach(producto => { %>
				<div class="tarjetaDeProductos">
					<div class="like">
						<!-- <i class="far fa-heart"></i> -->
						<i class="fas fa-heart segundoLike"></i>
					</div>
					<div style="background-image: url(<%=producto.imagen%>);" class="imagenProducto">
					</div>
					<div class="productoInformacion">
						<div class="tituloYMarcaProducto">
							<h3><%= producto.titulo  %></h3>
							<p><%= producto.marca  %></p>
						</div>
						<div class="precioDeProducto">	
							<p> $<%= producto.precio  %></p> 
						</div>	
					</div>	
					<div class="contenedorDeEstrellas">
						<i class="fas fa-star segundaEstrella"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<%if(userId){%>
						<% if(producto.userId.toString() === userId.toString() ){ %>
							<div class="contenedorDeImagenesParaEdit">
								<a href="/eliminar-producto/<%= producto._id%>"><button class="botonEliminar">Eliminar</button></a>
								<a href="/editar-producto/<%= producto._id%>"><button class="botonEditar">Editar</button></a>
							</div>	
						<%}else{%>
							<div class="contenedorDeImagenesParaEdit">
								<h2 class="ocultarHola">.g</h2>
							</div>
						<%}%>
					<%} %>
				</div>
	<%	}) %>
	<%	} %>
</div>
<div class="contenedorInformativo">
	<div class="informacionMain">
		<h2 class="letter">LLevamos</h2>
		<h2>La <span>Diversión</span></h2>
		<h2>A Tu Casa</h2>
	</div>
	<h2 class="footer">Copyright © 2021 | Punto G | Tortoza Cristian</h2>
</div>	
</main>
</body>
</html>




